<?xml version="1.0" encoding="UTF-8"?>
<plcProject
    xmlns:bdevossa_PLC="http://www.w3.org/2001/XMLSchema-instance"
    bdevossa_PLC:noNamespaceSchemaLocation="..\lib\config.xsd">

	<projectInfo projectName="Evolved Test" productName="TEST PLC Program" companyName="Allmighty ZRT" version="0.1.23.456" 
	    creationDate="1990-01-01" creationTime="12:00:00" git="https://github.com/iwannabedeewo/thesis-work" interfaceBaseAddress="4000"> 
			<modificationDateTime date="2016-04-10" time="17:37:00"/>
			<authors> 
				<author name="a1" telNumber="06123456789" email="a1@a1.com"/>  
				<author name="a2" telNumber="+36123456789" email="a2@a1.com"/> 
			</authors>
			<customer name="Pistám" country="Hungary" zip="5900" city="Orosháza" address="asd" telNumber="+36123456789" email="test@pelda.com">
				<contact name="c1" role=""  telNumber="+36123456789" email="cont1@pelda.com"/>
				<contact name="c2" role="" telNumber="06301239876" email="cont22@test.com"/> 
			</customer> 
	</projectInfo>
	
	<application> 
		<emergency marker="m0">
			<INPUT bit="x0"/>
			<INPUT bit="x1"/> 
			<INPUT bit="x2"/>
			<OUTPUT bit="y1"/>
		</emergency>
		
		<task name="ExampleTask" interval="20" intervalUnit="ms" priority="1" type="cyclic">
			<pous> 
 				<Motor name="MotorExample" priority="1">
 					<VISUALISATION plcIndex="1" page='0'>
 						<IMG id="visu_1" x="0" y="0"/>
 					</VISUALISATION>
 					<OUTPUT address="QX0.0"/>
 					<INPUT address="MX0.0"/>
 					<STOP address="MX0.1"/>
 				</Motor>
				 
				<StateIn name="St_xample" priority="2">
 					<OUTPUT address="QX0.1"/>
					<INPUT address="MX3.3"/> 
				</StateIn>
				 
				<Fuzzy name="fuzzy_exp" priority="88"/>
				
				<Blinker name="SAIA_Blinker" priority="3"/>
			</pous>
		</task>
		
		<ethernet name="EthernetModul11"> 
		    <address value="192.168.49.49"/>
		    <mask value="255.255.255.0"/> 
		    <gateway value="0.0.0.0"/>
		</ethernet>
		
	</application>
</plcProject>
